---
layout: home
title: null
description: "史旺基工作室介紹創辦人蕭宇程結合攝影與軟體專長，展示得獎人像作品、敏捷技術顧問服務、專業教育訓練與NFT策展成果，說明合作流程、服務優勢與聯繫方式，分享媒體報導與客戶案例，同時呈現品牌理念、團隊多元背景與最新活動消息，提供從個人到企業的視覺創作與數位轉型夥伴。"
keywords: "史旺基,Swanky Studio,攝影寫真,技術顧問,教育訓練,NFT策展"
header_transparent: true
nav_active: home
---

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Swanky <span>Studio</span></h2>
          <p class="animate__animated animate__fadeInUp">《制服．女孩 × 史旺基》系列與
            《高校制服戀物論》攝影作者、朱學恒「阿宅反抗軍」及「制服地圖」特約攝影師。本名蕭宇程，巨蟹座Ａ型，國立臺灣師範大學資訊工程博士。
            擅長 Java 程式設計與人像攝影，興趣吃巧克力。近年來多次獲法國 PX3 和美國 IPA 攝影獎，攝影作品曾登上美國時代雜誌。
          </p>
          <a href="#services" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services" id="services">
      <div class="container">

        <div class="row">
          {% for service in site.data.services %}
          <div class="col-md-12 col-lg-4 d-flex align-items-stretch" data-aos="fade-up"{% if service.aos_delay > 0 %} data-aos-delay="{{ service.aos_delay }}"{% endif %}>
            <div class="icon-box icon-box-{{ service.color }}">
              <div class="icon"><i class="bi {{ service.icon }}"></i></div>
              <h4 class="title">{{ service.title }}</h4>
              <p class="description">{{ service.description }}</p>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </section><!-- End Services Section -->
    <!-- ======= why us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" data-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>史旺基 Swanky Hsiao</h2>
          </div>
          <div class="col-lg-6 video-box">
            <img src="{{ '/assets/img/About_r.jpg' | relative_url }}" class="img-fluid" alt="史旺基蕭宇程的肖像照片">
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">
            <div class="icon-box">

              <div class="icon"><i class="bi bi-person"></i></div>
              <h4 class="title">台灣大哥大部經理｜兼任助理教授｜敏捷教練｜攝影師</h4>
              <p class="description">Taipei, Taiwan<br>swanky.hsiao@gmail.com</p>
            </div>
            <div class="icon-box">

              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title">經歷</h4>
              <p class="description">師大資工博士, Java (SCJP, SCWCD), Agile (CSM)
                台灣大哥大 部經理, 資策會 區塊鏈計畫, ITM 技術研發總監
                東吳巨資兼任助理教授, Z Institute 課程總講師
                Photographer (Flickr, 朱學恒, 施文彬, 制服地圖)
              </p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bi bi-chat-left-text"></i></div>
              <h4 class="title">自我介紹</h4>
              <p class="description">《制服．女孩 × 史旺基》系列與
                《高校制服戀物論》攝影作者、朱學恒「阿宅反抗軍」及「制服地圖」特約攝影師。多次獲法國 PX3 和美國 IPA 攝影獎，攝影作品曾登上美國時代雜誌。

                <br><br>本名蕭宇程(Hsiao Yu-Cheng)，巨蟹座Ａ型，國立臺灣師範大學資訊工程博士。
                擅長 Java 程式設計與企業級服務架構、物件導向程式設計與架構、敏捷方法與敏捷軟體開發、資料科學應用規畫、成長駭客、區塊鏈技術應用規畫及研發。曾執行大型雲端物聯聯網系統、工業物聯網資料科學系統、邊緣資料中心基礎設施提案相關計畫。
                現職台灣大哥大部經理，東吳大學巨量資料管理學院區塊鏈課程兼任助理教授。曾任職財團法人資訊工業策進會，主持數位發展部「區塊鏈創新產業科管理應用計畫」；曾任國際信任機器(ITM)技術研發總監。
              </p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End why us Section -->

    <!-- ======= Testimonials Section ======= -->
    <section class="testimonials" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>他人評語</h2>
          <p>來自各方名人給予的評價回饋。</p>
        </div>
        <div class="testimonial-item">
          <h3>劉揚銘</h3>
          <h4>編輯、寫作者、自由人</h4>
          <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          照片上過時代雜誌的攝影師，專拍美少女，工作時的名言是「瀏海順一下」顯見他的龜毛，
          雖然想拍布料很少的那種，不知為何結果都是清純系。年輕時因為想打電動拒絕了景美熱舞社女孩的邀約，
          導致連續單身不知多少年，老天有眼，報應不爽。喔對他的正職是工程師，博士學歷的那種。
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Reviews Section ======= -->
    <div class="reviews-area">
      <div class="row g-0 reviews_a">
        <div class="col-lg-6 work-right-text d-flex align-items-center">
          <div class="px-5 py-5 py-lg-0">
            <h2>攝影寫真</h2>
            <h5>拍攝超過100個模特兒，拍攝經驗豐富、風格清新自然，作品遍及人像寫真、活動紀錄、自助婚紗、企業/個人形象宣傳、商業攝影。</h5>
            <a href="{{ '/photography/' | relative_url }}" class="btn-get-started">Read More</a>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="{{ '/assets/img/cover_1.jpeg' | relative_url }}" alt="攝影寫真作品示意照片" class="img-fluid">
        </div>

      </div>
      <div class="row g-0 reviews_b">

        <div class="col-lg-6 work-right-text d-flex align-items-center">
          <div class="px-5 py-5 py-lg-0">
            <h2>技術顧問</h2>
            <h5>曾擔任技術講座講者、工作坊主辦人。</h5>
            <a href="{{ '/technical/' | relative_url }}" class="btn-get-started">Read More</a>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="{{ '/assets/img/portfolio/33645452611_56b9253b61_k.jpeg' | relative_url }}" alt="技術顧問講座活動紀錄照片" class="img-fluid">
        </div>
      </div>

      <div class="row g-0 reviews_c">
        <div class="col-lg-6 work-right-text d-flex align-items-center">
          <div class="px-5 py-5 py-lg-0">
            <h2>教育訓練</h2>
            <h5>多年攝影指導經驗，曾舉辦模特兒課程、區塊鏈加密貨幣課程。</h5>
            <a href="{{ '/education/' | relative_url }}" class="btn-get-started">Read More</a>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="{{ '/assets/img/MG_0080_ps.jpg' | relative_url }}" alt="教育訓練課程講師授課照片" class="img-fluid">
        </div>

      </div>
    </div><!-- End Reviews Section -->

<!-- ======= Team Section ======= -->
<section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
  <div class="section-title">
    <h2>其它經歷 Other</h2>
    <p>專訪影片、講座、展覽、書籍雜誌、Web3 社群專案。</p>
  </div>
  <div class="container">

    <div class="row">

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-img">
            <img src="{{ '/assets/img/time.jpg' | relative_url }}" class="img-fluid" alt="TIME 雜誌 RedBall Project 專題內頁照片">
            <div class="social">
              <a href="https://www.flickr.com/photos/swanky-hsiao/6930857127/">雜誌內頁 <i class="bi bi-images"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>RedBall Project@Bopiliao Historic Block</h4>
            <span>TIME Magazine March 5, 2012 | Vol. 179 No. 9</span>
            <p>用於 TIME Magazine美國版、TIME Magazine iPad版、
              TIME For Kids美國版與日韓版的RedBall Project專題</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-info">
            <h4>資策會 — 區塊鏈創新產業計畫</h4>
            <span>2022/09 ~ 2025/03</span>
            <p>主持數位發展部「區塊鏈創新產業科管理應用計畫」，協助建立「可信區塊鏈應用基礎建設聯盟(TBSI)」，
              共同主辦「第九屆台灣區塊鏈愛好者年會」，推動區塊鏈產業標準化與產學研交流。
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-info">
            <h4>Good Morning Frens (GMF)</h4>
            <span>Web3 交友項目 · 共同創辦人</span>
            <p>共同創辦 Web3 交友項目 GMF，透過掃描用戶的 NFT 收藏建立 Web3 身份，
              結合 Web2 個人資料，讓 Web3 世界的人們可以交流認識。
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-info">
            <h4>ArtfN fair 台北藝術新銳博覽會</h4>
            <span>2022-05-06~08</span>
            <p>參展 ArtfN fair 台北藝術新銳博覽會，結合元宇宙概念展示 NFT 數位藝術作品。</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-img">
            <img src="{{ '/assets/img/5216352222_8ca73e82e4_b.jpeg' | relative_url }}" class="img-fluid" alt="GEISAI TAIWAN #2 展覽攤位照片">
            <div class="social">
              <a href="https://www.flickr.com/photos/swanky-hsiao/sets/72157625363874657/">展覽花絮 <i class="bi bi-images"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>史旺基@GEISAI TAIWAN#2</h4>
            <span>2010-11-27~28</span>
            <p>GEISAI是各式各樣的藝術家齊聚一堂一同展覽的藝術祭典。
              GEISAI意為藝祭，命名取自美術大學學園祭。
              「藝術」與「祭典」所帶來興奮與狂熱，所有參加者都能親體驗。
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-img">
            <img src="{{ '/assets/img/4801766899_b37627045d_b.jpeg' | relative_url }}" class="img-fluid" alt="Punch Party 16 七分鐘快講活動現場">
            <div class="social">
              <a href="https://www.facebook.com/media/set/?set=a.471421070328.249604.172447000328&type=3">投影片 <i class="bi bi-images"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Punch Party 16 七分鐘快講 講者</h4>
            <span>2010/07/17</span>
            <p>常看宅神朱學恆部落格的各位農友一定認識這位攝影師，
              他最偉大之處不在於宅，也不在於貢獻那些每次都讓朱學恆的男子漢網頁破格的"巨幅寫真照"，
              而在於他已經奠定了人稱正妹殺手的江湖稱號，可以把普通正拍到很正，
              很正拍到更正，想學習如何借由攝影把妹或是好好拍女友來培養感情，問史旺基大師就對了。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Team Section -->

  </main><!-- End #main -->

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "蕭宇程",
  "alternateName": "Swanky Hsiao",
  "jobTitle": ["部經理", "兼任助理教授", "敏捷教練", "攝影師"],
  "url": "https://swanky.github.io",
  "image": "https://swanky.github.io/assets/img/About_r.jpg",
  "email": "swanky.hsiao@gmail.com",
  "sameAs": [
    "https://www.youtube.com/user/swanbear",
    "https://www.facebook.com/SwankyParty",
    "https://x.com/swanky",
    "https://www.linkedin.com/in/swanky",
    "https://www.flickr.com/photos/swanky-hsiao/"
  ],
  "worksFor": {
    "@type": "Organization",
    "name": "台灣大哥大",
    "url": "https://www.taiwanmobile.com"
  }
}
</script>
