---
layout: home
title: Swanky Studio 史旺基工作室
description: >
  史旺基工作室技術顧問服務介紹蕭宇程在Java企業系統、敏捷教練、資料科學與區塊鏈應用的專長，分享NFT發行輔導、雲端架構與數位轉型案例，包含講座影音、媒體報導與合作資源，並提供產品開發諮詢、培訓規畫與跨領域協作經驗，協助團隊快速落實創新策略。
keywords: 技術顧問,Java,敏捷教練,區塊鏈,NFT輔導,史旺基
nav_active: technical
---

  <main id="main">
    <div class="section-title works">
      <h2>技術顧問</h2>
      <p>擅長Java程式設計與企業級服務架構、物件導向程式設計與架構、敏捷方法與敏捷軟體開發、資料科學應用規畫、成長駭客、區塊鏈技術應用規畫及研發。</p>
    </div>

   <!-- ======= Why Us Section ======= -->
   <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
    <div class="container">

      <div class="row">

        <div class="col-lg-12 d-flex flex-column justify-content-center p-5 text-center">

          <div class="icon-box_no">
            <h4 class="title"><a>技術顧問｜發行 NFT 上架到 OpenSea
              </a></h4>
            <p class="description">NFT 致富密碼 把我的腿做成NFT藝術品線上販售 結果竟然!! | 手毛小姐姐 | FEAT 史旺基 手把手教你怎麼玩<br>顧問 / 史旺基</p><br>
            <p>
              <a class="description" href="https://oncyber.io/sutuotuo" >Enter Online Exhibition: leg bar</a><br>
              <a class="description" href="https://www.ftvnews.com.tw/news/detail/2022205W0109" >[民視新聞]NFT成致富密碼？她辣拍「黑絲美腿」當藝術品賣　驚人實測結果出爐</a>
            </p>
          </div>

        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-8 video-box_a">
          <div class="videoYT">
            <iframe src="https://www.youtube.com/embed/9WI-rPbiULw" allowFullScreen="true"></iframe>
          </div>
           </div>
        <div class="col-lg-2"></div>

      </div>

      <div class="row">

        <div class="col-lg-12 d-flex flex-column justify-content-center p-5 text-center">

          <div class="icon-box_no">
            <h4 class="title"><a>技術講座｜JCConf Taiwan
              </a></h4>
            <p class="description">JCConf 2019 R402AB 2 「Trust As a Service」區塊鏈雲端服務<br>講師 / 史旺基</p>
          </div>

        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-8 video-box_a">
          <div class="videoYT">
            <iframe src="https://www.youtube.com/embed/0HboMmWLY4I" allowFullScreen="true"></iframe>
          </div>
           </div>
        <div class="col-lg-2"></div>

      </div>


      <div class="row">
        <div class="col-lg-12 d-flex flex-column justify-content-center p-5 text-center">

          <div class="icon-box_no">
            <h4 class="title"><a>技術講座｜JCConf Taiwan
              </a></h4>
            <p class="description">JCConf 2018 R1-9 給Java工程師的區塊鏈技術科普入門<br>講師 / 史旺基, 李婷婷</p>
          </div>

        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-8 video-box_a">
          <div class="videoYT">
            <iframe src="https://www.youtube.com/embed/cqTheMLeuWo" allowFullScreen="true"></iframe>
          </div>
          </div>
        <div class="col-lg-2"></div>


      </div>


      <div class="row">
        <div class="col-lg-12 d-flex flex-column justify-content-center p-5 text-center">
          <div class="icon-box_no">
            <h4 class="title"><a>技術講座｜JCConf Taiwan
              <a href="https://www.flickr.com/photos/swanky-hsiao/albums/72157687247119024"><i class="bx bx-images"></i></a>
              </a></h4>
            <p class="description">JCConf 2017 R1-6 Reactive Programming with Reactor <br>講師 / 史旺基</p>
          </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-8 video-box_a">
            <div class="videoYT">
              <iframe src="https://www.youtube.com/embed/Dchxtrpedtc" allowFullScreen="true"></iframe>
            </div>
        </div>
        <div class="col-lg-2"></div>



      </div>



    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Articles Section ======= -->
  <section class="service-details">
    <div class="container">
      <div class="section-title">
        <h2>專欄文章</h2>
        <p>技術趨勢觀察、軟體管理與 Web3 領域的深度分析</p>
      </div>

      <div class="row">
        {% assign sorted_articles = site.articles | sort: "date" | reverse %}
        {% for article in sorted_articles limit:6 %}
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="{{ forloop.index0 | modulo: 3 | times: 100 }}">
          <div class="card">
            {% if article.cover_image %}
            <div class="card-img">
              <a href="{{ article.url | relative_url }}"><img src="{{ article.cover_image | relative_url }}" alt="{{ article.title }}"></a>
            </div>
            {% endif %}
            <div class="card-body">
              <h5 class="card-title"><a href="{{ article.url | relative_url }}">{{ article.title }}</a></h5>
              <p class="card-text">{{ article.date | date: "%Y-%m-%d" }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="text-center mt-4">
        <a href="{{ '/technical-articles' | relative_url }}" class="btn-get-started" style="display:inline-block; padding:10px 30px; background:#E5A300; color:#fff; border-radius:4px; text-decoration:none;">查看所有專欄文章</a>
      </div>

    </div>
  </section><!-- End Articles Section -->

  </main><!-- End #main -->
