{% for article in include.articles %}
<div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="{{ forloop.index0 | modulo: 3 | times: 100 }}">
  <div class="card">
    {% if article.cover_image %}
    <div class="card-img">
      <a href="{{ article.url | relative_url }}"><img src="{{ article.cover_image | relative_url }}" alt="{{ article.title }}" loading="lazy"></a>
    </div>
    {% endif %}
    <div class="card-body">
      <h5 class="card-title"><a href="{{ article.url | relative_url }}">{{ article.title }}</a></h5>
      <p class="card-text">{{ article.date | date: "%Y-%m-%d" }}</p>
      {% if article.description %}
      <p class="card-text text-muted small">{{ article.description }}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
