<!-- ======= Footer ======= -->
<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-6 footer-contact">
          <h2>聯絡方式</h2>
          <p>
            <strong>Email:</strong> {{ site.email }}<br>
          </p>

        </div>

        <div class="col-lg-6 col-md-6 footer-info">
          <h2>社群平台</h2>
          <p>熱愛攝影、研究區塊鏈，有什麼新奇有趣的項目嗎？任何合作歡迎洽詢聯繫。</p>
          <div class="social-links mt-3">
            {% for link in site.data.social_links %}
            <a href="{{ link.url }}" class="{{ link.class }}" target="_blank" rel="noopener noreferrer" aria-label="{{ link.name }}"><i class="bx {{ link.icon }}"></i></a>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; {{ 'now' | date: '%Y' }} <strong><span>Swanky Studio</span></strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->
